@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.blue-section {
  background-color: #0052ff;
}

.header {
  color: #ffffff;
  background-color: #0052ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 49px;
  padding-top: 46px;
  font-size: 18px;
}

.header-space {
  background-color: #0052ff;
}

.logo-span {
  margin-left: 12px;
  font-size: 20px;
}

.menu {
  display: flex;
  column-gap: 44px;
  margin: 0;
  padding: 0;
  align-items: center;
  font-size: 18px;
}

.call-btn {
  background-color: #0052ff;
  color: #ffffff;
  border-color: #ffffff;
  border-radius: 5px;
  padding: 10px 30px 10px 28px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  border-style: groove;
}

hr {
  background-color: #0052ff;
  margin: 0;
}

ul {
  list-style-type: none;
}

.ranking-desc {
  color: #ffcf26;
  padding-top: 195px;
  background-color: #0052ff;
  font-size: 16px;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-title {
  color: #ffffff;
  font-size: 64px;
}

.description {
  width: 800px;
  display: flex;
  flex-direction: column;
  row-gap: 44px;
  position: relative;
}

.consultation-info {
  display: flex;
  padding-bottom: 314px;
}

.consultation-btn {
  background-color: #ffcf26;
  border-radius: 5px;
  font-size: 20px;
  width: 50%;
  border: transparent;
  padding: 0px 40px;
}

.paragraph-info {
  font-size: 18px;
  color: #ffffff;
  width: 50%;
  margin-left: 45px;
}

h1,
h3 {
  margin: 0;
}

.websites-section {
  background-color: #f2f2f2;
}

.websites-container {
  max-width: 1560px;
  display: flex;
  column-gap: 98.27px;
  align-content: center;
}

.web-title {
  font-size: 42px;
  color: #020113;
}

.checked-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 38px;
  padding: 0;
}

.saas-websites {
  align-self: center;
}

.check-icon {
  margin-right: 10.27px;
}

.checked-item {
  display: flex;
  font-size: 18px;
  align-items: center;
}

.free-call-btn {
  padding: 0px 30px 0px 30px;
  font-size: 18px;
  background-color: #ffcf26;
  border: transparent;
  margin-top: 38px;
  border-radius: 5px;
  height: 60px;
}

.websites-icon {
  background-color: white;
  position: absolute;
  padding-left: 86px;
  padding-right: 86px;
  padding-top: 65px;
  padding-bottom: 70px;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  align-content: center;
  left: 50%;
}

.reviews-section {
  background-color: #f2f2f2;
  font-size: 42px;
  color: #020113;
  height: 600px;
}

.reviews-desc {
  font-weight: bold;
  text-align: center;
}

.reviews {
  padding-top: 151px;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.reviewers-comments {
  display: flex;
  position: absolute;
  column-gap: 30px;
  transform: translate(0%, 25%);
  max-width: 1200px;
}

.Nathan-comment {
  background-color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 50px 46px 47px 45px;
  border-radius: 5px;
}

.Johanna-comment {
  background-color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 50px 46px 47px 45px;
  border-radius: 5px;
}

.Maria-comment {
  background-color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 50px 46px 47px 45px;
  border-radius: 5px;
}

.star {
  color: #ffa026;
}

.reviewers-desc {
  display: flex;
  column-gap: 19px;
  align-items: center;
  font-weight: 400;
}

.customer-satisfaction {
  background-color: #eaeff5;
}

.customers-container {
  max-width: 1560px;
  margin: auto;
}

.customer-satisfaction > .percentage {
  padding-top: 80px;
  font-size: 19px;
  display: flex;
  column-gap: 40px;
  padding-bottom: 129px;
}

.rectangle {
  margin-left: 40px;
  margin-right: 20px;
}

.customer-satisfaction > .desc-content {
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-bottom: 150px;
  column-gap: 140px;
}

.desc-content > .paragraph > .title {
  font-size: 42px;
}

.desc-content > .paragraph {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  width: 50%;
}

.laptop-div {
  width: 50%;
}

.saas-industry {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.saas-industry-title {
  font-size: 42px;
  color: #020113;
  text-align: center;
}

.paragraph-container {
  width: 775px;
  align-self: center;
  padding-bottom: 45px;
}

.saas-industry-paragraph {
  font-size: 18px;
  padding-left: 67px;
  padding-right: 67px;
  text-align: center;
}

.companies-websites {
  background-color: #F2F2F2;
  display: flex;
  font-weight: bold;
  flex-direction: row;
  column-gap: 90px;
  padding-top: 156px;
}

.performance-desc {
  font-size: 42px;
  
}

.performance {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.performance > .span {
  font-size: 19px;
}
.companies-websites >div >.paragraph {
  font-size: 18px;
  
}